{% extends 'products/base.html' %}
{% load static i18n %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
  <div class="header">
    <div class="left-column">
      <button onclick="goBack()" class="back-button">Back</button>
    </div>
    <div class="center-column">
      <h2>{% trans 'Savat' %}</h2>
    </div>
    <div class="right-column" onclick="cleanSession()">{% trans "O'chirish" %}</div>
  </div>
  <div class="cart-container" id="product-list">

  </div>
  <script>
    function goBack() {
      window.history.back();
    }


    // Sample products data (replace with your actual products data)
    var products = [];
    for (var i = 0; i < sessionStorage.length; i++) {
        var key = sessionStorage.key(i);
        if (key.startsWith('product_')) {
            var product = JSON.parse(sessionStorage.getItem(key));
            products.push(product);
        }
    }
    var button = Telegram.WebApp.MainButton;
      if (products) {
        button.setParams({
          text: '{% trans "Davom etish" %}',
          is_visible: true
        }).onClick(function () {
          window.location.href = '/tg/order/' + '?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}';
        });
      } else {
        // If there are no items in the cart, hide the main button
        button.setParams({
          is_visible: false
        });
      }

    // Function to generate HTML for each product
    function generateProductHTML(product) {
      return `

      <div class="cart-item">
        <img src="${product.image}" alt="${product.name}" width="100" height="100" class="product-image">
        <div class="product-details">
            <div class="product-name">{% trans "Nomi: " %}${product.name}</div>
            <div class="product-price">{% trans "Narxi: " %}${product.price} {% trans "so'm" %}</div>
            <div class="product-count">{% trans "Soni: " %}${product.count}</div>
        </div>
      </div>
    `;
    }

    // Function to populate the product list
    function populateProductList(products) {
      var productList = document.getElementById('product-list');
      if (!productList) {
        console.error('Product list not found');
        return;
      }

      productList.innerHTML = ''; // Clear existing content

      products.forEach(function (product) {
        var productHTML = generateProductHTML(product);
        productList.insertAdjacentHTML('beforeend', productHTML);
      });
    }

    // Call the function to populate the product list
    populateProductList(products);

    function cleanSession() {
      sessionStorage.clear();
      var queryParams = window.location.search.substr(1);
      var url = '/tg/'; // Replace 0 with the appropriate URL pattern name
      if (queryParams) {
        url += '?' + queryParams + '&';
      } else {
        url += '?';
      }
      // url += 'categoryId=' + categoryId; // Append category id or any other parameter you want
      window.location.href = url;
    }
  </script>
{% endblock %}
