{% extends 'products/base.html' %}
{% load static i18n %}
{% block title %}Category List{% endblock %}
{% block content %}
  <div class="header">
    <div class="left-column">
    </div>
    <div class="center-column">
      <h2>{% trans "Menyu" %}</h2>
    </div>
    <div class="right-column"></div> <!-- Empty column -->
  </div>
  <ul class="category-list">
    {% for category in categories %}
      <li>
        <div class="link" onclick="redirectTo('{{ category.id }}')">
          {% if category.image %}
            <img src="{{ category.image.url }}" alt="{{ category.name }}" width="100" height="100">
          {% else %}
            <img src="{% static 'images/not_found.jpeg' %}" alt="Image Not Found" width="100" height="100">
          {% endif %}
          {{ category.name }}
        </div>
      </li>
    {% endfor %}
  </ul>
  <script>
    function redirectTo(categoryId) {
      var queryParams = window.location.search.substr(1);
      var url = '/tg/category/' + categoryId + '/'; // Replace 0 with the appropriate URL pattern name
      if (queryParams) {
        url += '?' + queryParams + '&';
      } else {
        url += '?';
      }
      // url += 'categoryId=' + categoryId; // Append category id or any other parameter you want
      window.location.href = url;
    }
  </script>
{% endblock %}
