{% extends 'products/base.html' %}
{% load static i18n %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
  <script src="{% static 'js/order.js' %}"></script>
  <script src="{% static 'js/project.js' %}"></script>
  <div class="header">
    <div class="left-column" onclick="goBack()"><img src="{% static 'images/back.svg' %}" alt="" class="back"></div>
    <div class="center-column"><h2>{% trans "Buyurtma" %}</h2></div>
  </div>
  <div>
    <div class="form-group">
      <button type="button" class="cash-button active" value="payme">Payme</button>
      <button type="button" class="cash-button" value="click">Click</button>
      <input type="hidden" id="cashType" name="cashType" value="payme">
      <!-- Hidden input to store the selected value -->
    </div>

    <div class="form-group">
      <button type="button" class="delivery-button active" value="yes">{% trans "Yetkazib berish" %}</button>
      <button type="button" class="delivery-button" value="no">{% trans "Borib olish" %}</button>
      <input type="hidden" id="deliveryOption" name="deliveryOption" value="yes">
      <!-- Hidden input to store the selected value -->
    </div>

    <div class="form-group">
      <label for="address">Manzil:</label>
      <select id="address" name="address">
      </select>
      <input type="hidden" id="selectedAddress" name="selectedAddress" value="yes">
    </div>


    <div class="form-group">
      <label for="branch">Filial:</label>
      <span id="branch"></span>
    </div>

    <div class="form-group">
      <label for="minDistance">Masofa:</label>
      <span id="minDistance">Noma'lum</span>
    </div>


    <div class="form-group">
      <label for="deliveryCost">{% trans 'Yetkazib berish:' %}</label>
      <input type="number" id="deliveryCost" name="deliveryCost" value="0" readonly>
    </div>

    <div class="form-group">
      <label for="cost">{% trans 'Narxi:' %}</label>
      <input type="number" id="cost" name="cost" value="0" readonly>
    </div>

    <div class="form-group">
      <label for="totalAmount">{% trans 'Jami:' %}</label>
      <input type="number" id="totalAmount" name="totalAmount" value="0" readonly>
    </div>
  </div>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      var cashButtons = document.querySelectorAll(".cash-button");
      var deliveryButtons = document.querySelectorAll(".delivery-button");

      cashButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          // Remove active class from all buttons
          cashButtons.forEach(function (btn) {
            btn.classList.remove("active");
          });

          // Add active class to the clicked button
          this.classList.add("active");

          var selectedValue = this.value;
          var cashTypeInput = document.getElementById("cashType");
          cashTypeInput.value = selectedValue;
        });
      });
      deliveryButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          // Remove active class from all buttons
          deliveryButtons.forEach(function (btn) {
            btn.classList.remove("active");
          });

          // Add active class to the clicked button
          this.classList.add("active");

          var selectedValue = this.value;
          var deliveryTypeInput = document.getElementById("deliveryOption");
          deliveryTypeInput.value = selectedValue;
        });
      });
    });


    //var user = Telegram.WebApp.initDataUnsafe.user;
    var user = {"id": 6201336345};
    var button = Telegram.WebApp.MainButton;

    let outletBranches = [];

    function createOrder() {
      const formData = {
        cash_type: document.getElementById('cashType').value,
        delivery: document.getElementById('deliveryOption').value,
        address: document.getElementById('selectedAddress').innerText,
        filial: parseInt(document.getElementById('branch').getAttribute('data')),
        distance: document.getElementById('minDistance').value,
        cost: document.getElementById('cost').value,
        delivery_cost: document.getElementById('deliveryCost').value,
        all_cost: document.getElementById('totalAmount').value,
        user: parseInt(user.id),
      };
      fetch('/create-order/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            // Add any necessary headers
          },

          body: JSON.stringify(formData)

        }
      )
        .then(response => {
          if (response.ok) {
            // Order created successfully, handle response as needed
            console.log('Order created successfully');
            Telegram.WebApp.close()
          } else {
            console.error('Failed to create order');
          }
        })
        .catch(error => {
          console.error('Error creating order:', error);
        });


    }

    function showButton() {
      button.setParams({
        text: '{% trans "Buyurtma berish" %}',
        is_visible: true
      }).onClick(function () {
        //
        createOrder();
      });
    }

    function disableButton() {
      button.setParams({
        is_visible: false
      });
    }

    getOutletBranchesData()
      .then(data => {
        outletBranches = data.data;
      })
      .catch(error => {
        console.error('Error fetching outlet branches data:', error);
      });

    let addresses = [];
    getAddressessData(user.id.toString()).then(data => {
      addresses = data.addresses;
      let minDistance = Infinity;
      let closestOutlet = null;

      if (minDistance > 100) {
        document.getElementById('branch').innerText = "100 km dan uzoqga yetkazib berish imkoni yo'q";

      } else {
        document.getElementById('branch').innerText = closestOutlet.name;
      }
      const addressSelect = document.getElementById('address');
      const defaultOption = document.createElement('option');
      defaultOption.value = '';
      defaultOption.textContent = '{% trans "Manzilni tanlang" %}'; // Prompt text
      addressSelect.appendChild(defaultOption);


      addresses.forEach(address => {
        const option = document.createElement('option');
        option.value = address.id;
        option.textContent = address.name;
        addressSelect.appendChild(option);
      });
      // Event listener for address selection
      addressSelect.addEventListener('change', function () {
        if (this.value === '') {
          // Clear selected address and exit function
          document.getElementById('selectedAddress').innerText = '';
          return;
        }

        const selectedAddress = addresses.find(address => address.id === parseInt(this.value));
        document.getElementById('selectedAddress').innerText = selectedAddress ? selectedAddress.name : '';

        // Calculate and update minimum distance if an address is selected
        if (selectedAddress) {
          const addressLatitude = selectedAddress.latitude;
          const addressLongitude = selectedAddress.longitude;
          let minDistance = Infinity;
          let closestOutlet = null;

          outletBranches.forEach(branch => {

            const distance = calculateDistance(addressLatitude, addressLongitude, branch.latitude, branch.longitude);
            if (distance < minDistance) {
              minDistance = distance;
              closestOutlet = branch;
            }
          });

          // Validate minimum distance
          if (minDistance > 100) {
            document.getElementById('branch').innerText = '{% trans "Xato: 100km atrofida filial mavjud emas." %}';
            disableButton();
          } else {
            const branchElement = document.getElementById('branch');
            branchElement.setAttribute('data', closestOutlet.id);
            document.getElementById('branch').innerText = closestOutlet.name;
            showButton();
          }

          // Update minimum distance label
          document.getElementById('minDistance').innerText = minDistance.toFixed(2) + " km";
        } else {
          document.getElementById('minDistance').innerText = "0 km";
          document.getElementById('branch').innerText = "";
        }
      });

      // Calculate and update cost
      const cost = getCartItemCount().totalPrice;
      document.getElementById('cost').value = cost;

      // Calculate and update delivery cost based on delivery option
      const deliveryOption = document.getElementById('deliveryOption').value;
      const deliveryCost = deliveryOption === 'yes' ? 1000 : 0; // Example delivery cost
      document.getElementById('deliveryCost').value = deliveryCost;
      const totalAmount = cost + deliveryCost;
      document.getElementById('totalAmount').value = totalAmount;

      // document.getElementById('deliveryOption').addEventListener('change', function () {
      //   const selectedOption = this.value;
      //   const minDistance = parseFloat(document.getElementById('minDistance').innerText);
      //   const selectedAddress = document.getElementById('selectedAddress').innerText;

      //   if (selectedOption === 'no' || minDistance < 100 || selectedAddress !== '') {
      //     console.log('Delivery option is "no" and minimum distance is less than 100');
      //     // Add your logic here for when delivery option is "no" and minDistance is less than 100
      //     showButton();
      //   }
      //   else {
      //     disableButton();
      //   }
      // });

      // Calculate and update total amount


    }).catch(error => {
      console.error('Error fetching address branches data:', error);
    });

  </script>

{% endblock %}
