{% extends 'products/base.html' %}
{% load static i18n %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
  <script src="{% static 'js/order.js' %}"></script>
  <script src="{% static 'js/project.js' %}"></script>
  <h2>{% trans "Ma'lumot" %}</h2>
  <div>
  <div class="form-group">
    <label for="comment"></label>
    <textarea id="comment" name="comment" placeholder="Biron izoh yozing"></textarea>
  </div>

  <div class="form-group">
    <label for="cashType">To'lov usuli:</label>
    <select id="cashType" name="cashType">
      <option value="cash">Naqd</option>
      <option value="card">Karta orqali</option>
    </select>
  </div>

  <div class="form-group">
    <label for="deliveryOption">Yetkazib beraylikmi?:</label>
    <select id="deliveryOption" name="deliveryOption">
      <option value="yes">{% trans "Xa" %}</option>
      <option value="no">{% trans "Yo'q" %}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="address">Manzil:</label>
    <select id="address" name="address">
    </select>
  </div>

  <div class="form-group">
    <label for="selectedAddress">Tanlangan manzil:</label>
    <span id="selectedAddress"></span>
  </div>

  <div class="form-group">
    <label for="branch">Filial:</label>
    <span id="branch"></span>
  </div>

  <div class="form-group">
    <label for="minDistance">Masofa:</label>
    <span id="minDistance">Noma'lum</span>
  </div>

  <div class="form-group">
    <label for="cost">Summa:</label>
    <input type="number" id="cost" name="cost" value="0" readonly>
  </div>

  <div class="form-group">
    <label for="deliveryCost">Yetkazib berish:</label>
    <input type="number" id="deliveryCost" name="deliveryCost" value="0" readonly>
  </div>

  <div class="form-group">
    <label for="totalAmount">Umumiy hisob:</label>
    <input type="number" id="totalAmount" name="totalAmount" value="0" readonly>
  </div>
  </div>

  <script>
    var user = Telegram.WebApp.initDataUnsafe.user;
    alert(JSON.stringify(user));

    let outletBranches = [];
    getOutletBranchesData()
      .then(data => {
        outletBranches = data.data;
      })
      .catch(error => {
        console.error('Error fetching outlet branches data:', error);
      });

    let addresses = [];
    getAddressessData(user.id.toString()).then(data => {
      addresses = data.addresses;
      let minDistance = Infinity;
      let closestOutlet = null;

      if (minDistance > 100) {
        document.getElementById('branch').innerText = "100 km dan uzoqga yetkazib berish imkoni yo'q";

      } else {
        document.getElementById('branch').innerText = closestOutlet.name;
      }
      const addressSelect = document.getElementById('address');
      const defaultOption = document.createElement('option');
      defaultOption.value = '';
      defaultOption.textContent = '{% trans "Manzilni tanlang" %}'; // Prompt text
      addressSelect.appendChild(defaultOption);


      addresses.forEach(address => {
        const option = document.createElement('option');
        option.value = address.id;
        option.textContent = address.name;
        addressSelect.appendChild(option);
      });
      // Event listener for address selection
      addressSelect.addEventListener('change', function () {
        if (this.value === '') {
          // Clear selected address and exit function
          document.getElementById('selectedAddress').innerText = '';
          return;
        }

        const selectedAddress = addresses.find(address => address.id === parseInt(this.value));
        document.getElementById('selectedAddress').innerText = selectedAddress ? selectedAddress.name : '';

        // Calculate and update minimum distance if an address is selected
        if (selectedAddress) {
          const addressLatitude = selectedAddress.latitude;
          const addressLongitude = selectedAddress.longitude;
          let minDistance = Infinity;
          let closestOutlet = null;

          outletBranches.forEach(branch => {

            const distance = calculateDistance(addressLatitude, addressLongitude, branch.latitude, branch.longitude);
            if (distance < minDistance) {
              minDistance = distance;
              closestOutlet = branch;
            }
          });

          // Validate minimum distance
          if (minDistance > 100) {
            document.getElementById('branch').innerText = {% trans "Xato: 100km atrofida filial mavjud emas." %};
          } else {
            document.getElementById('branch').innerText = closestOutlet.name;
          }

          // Update minimum distance label
          document.getElementById('minDistance').innerText = minDistance.toFixed(2) + " km";
        } else {
          document.getElementById('minDistance').innerText = "0 km";
          document.getElementById('branch').innerText = "";
        }
      });

      // Calculate and update cost
      const cost = getCartItemCount().totalPrice;
      document.getElementById('cost').value = cost;

      // Calculate and update delivery cost based on delivery option
      const deliveryOption = document.getElementById('deliveryOption').value;
      const deliveryCost = deliveryOption === 'yes' ? 1000 : 0; // Example delivery cost
      document.getElementById('deliveryCost').value = deliveryCost;

      // Calculate and update total amount
      const totalAmount = cost + deliveryCost;
      document.getElementById('totalAmount').value = totalAmount;

    }).catch(error => {
      console.error('Error fetching address branches data:', error);
    });

  </script>

{% endblock %}
