:root {
  --background-color: #ffffff; /* Default light mode background color */
  --text-color: #000000; /* Default light mode text color */
}

a {
  color: black;
}

@media (prefers-color-scheme: dark) {
  a {
    color: white;
  }

  :root {
    --background-color: #1f1f1f; /* Dark mode background color */
    --text-color: #ffffff; /* Dark mode text color */
  }

}

ul.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}


ul.category-list li {
  width: 50%; /* Two columns */
  box-sizing: border-box; /* Include padding and border in width calculation */
  padding: 10px; /* Adjust padding as needed */
}


ul.category-list li {
  display: inline-block;
  width: 50%; /* Two categories per row */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

ul.category-list li a {
  text-decoration: none;
}

ul.category-list li img {
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}


button {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.header {
  display: flex;
  align-items: center;
}

.left-column,
.center-column,
.right-column {
  flex-grow: 1;
  text-align: left;
}

.left-column {
  text-align: left;
  width: 20%;
}

.right-column {
  text-align: left;
  width: 10px;
}

.back-button {
  /* Style your back button here */
}


.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.product-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 5px;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
}

.product-count {
  font-size: 16px;
  margin-top: 5px;
}
